<div class="ui grid">
  <div class="eight wide column">
    <div class="content-left">
      <%= image_tag 'dices-over-newspaper.jpg', class: 'investment-pic' %>
    </div>
  </div>
  <div class="eight wide column">
    <div class="content-right">
      <h2 class="ui header">Proposition</h2>
      <p>In Lendahand we want to make sure our investors understand what our investment offers are, how are platform works and what the risks are. </p>
      
      <p>To this end we created a test, of which the primary function is to educate.</p>
      <br/>
      <button class="ui primary button">
        Take Questions
      </button>
    </div>
  </div>
</div>
