<div class="questions">
  <div class="ui raised very padded text container segment">
    <h2 class="ui header">Knowledge and experience in investing</h2>
    <p>Note: Unlike checking and savings accounts with banks, crowdfunding is not covered by a deposit guarantee scheme, or any other guarantee scheme.</p>

    <br>
    <strong>Questions:</strong>
    <br>

    <%= render partial: 'results/form', locals: { question: @question, next: @next, previous: @previous } %>

    <p>
    <% if @previous %>
      <%= button_to @previous, method: :get, class: 'ui left labeled icon button' do %>
        <i class="left chevron icon"></i> Back
      <% end %>
    <% end %>

    <% if @next %>
      <%= button_to @next, method: :get, class: 'ui right labeled icon button' do %>
        <i class="right chevron icon"></i> Next
      <% end %>
    <% end %>
    </p>
  </div>
</div>
