<div class="ui grid container">
  <div class="question">
    <h2 class="ui header">Knowledge and experience in investing</h2>
    <p>Note: Unlike checking and savings accounts with banks, crowdfunding is not covered by a deposit guarantee scheme, or any other guarantee scheme.</p>

    <br>
    <strong>Questions:</strong>
    <br>

    <%= @question.question %>
  </div>
</div>
