<table class="ui celled table">
  <thead>
    <tr>
      <th colspan='3'>Results for <%= current_user.email %></th>
    </tr>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th>Score</th>
      <th>Correct?</th>
    </tr>
    <tbody>
      <% @results.each do |result| %>
        <tr>
          <%binding.pry%>
          <td><%= result.question_text %></td>
          <td><%= result.answer_text %></td>
          <td><%= result.answer_score %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </thead>
</table>
